.card {
    & > div > img {
        width: 200px;
        height: 300px;
    }
}

.titleEvent {
    display: inline;
    position: absolute;
    background-color: #2f2c2c;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    white-space:pre;
    overflow:hidden;
    text-overflow: ellipsis;
}

.free {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .6);
    color: white;
    padding: 7px;
}
.falseDisplay {
    display: none;
}